.secon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Georgia, serif;
     }
     .form {
        text-align: center;
        width: 800px;
        margin: 2rem;
        &_fondo {
            background-color: $azure;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px #ccc;
        }
        &__input {
            margin: 10px;
            text-align: center;
            border-radius: 10px;
            width: 90%;
            background-color: $gray;
            transition: all 0.3s ease-in-out;

        }
        &__label {
            
            font-weight: bold;
            font-size: 16px;
        }
        &__button {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
            width: 100%;
            &:hover {
                background-color: #3e8e41;
                box-shadow: 0px 0px 10px 0px #ccc;
            }
        }
    }

    


