
.pie {
    color: $white;
    text-align: center;
    background-color: $blackblue;
    height: 200px;
    padding: 2rem;
    }
    
    .pie__menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 1rem;
    grid-gap: 30px;
    padding: 0;
    }
    
    .pie__icon {
    width: 45px;
    }
    
    .pie__link {
    margin-right: 1rem;
    list-style: none;
    }
    
    .pie__a {
    color: $white;
    text-decoration: none;
    }
    
    
    
    
    

