
.pie {
    color: $white;
    text-align: center;
    background-color: $blackblue;
    height: 200px;
    padding: 2rem;
}

.pie__icon{
    width: 40px;
}

.pie__link{
    list-style: none;
}

.pie__a{
    color: $white;
    text-decoration: none;
}