.qa{
    background-color: $darkblue;
    color: $white;
    &__titulo{
    font-size: 100px;
    text-align: center;
    }
    
    &__caja{
        margin-inline: 15%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        }
    
    &__p1{
        text-align: center;
        font-size: 25px;
        grid-column: 1 / 3;
        grid-row: 1;
        margin: 5rem;
        }
    
    &__p2{
        font-size: 25px;
        grid-column: 1;
        grid-row: 2;
        margin: 1rem;
        }
    
    &__p3{
        font-size: 25px;
        grid-column: 2;
        grid-row: 2;
        margin: 1rem;
        }
    }